body {
    font-family: Raleway;
    margin-bottom:50px;
}
a:hover {
    text-decoration: none;
}
.panel-body {
    background-color: #3e3f3a;
    height: 170px;
}
.panel-body h2 {
    color: #fff;
}

.panel-body img {
    max-height: 160px;
    width: auto;
    margin: auto;
}

.navbar {
    border-radius: 0;
}

.sidenav {
     border-right: 1px solid #ddd;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
footer p {
    margin: 10px auto;
}

#flashbox {
    z-index: 1000;
    position: fixed;
    top: 60px;
    width: 100%;
}

#flashbox .content {
    opacity: 0.70;
    width: 60%;
    margin: auto;
}

#login-container, #register-container {
    margin-top:100px;
    align-items: center;

    .fa-cloud {
        padding-right: 25px;
        color: #2980b9;
        font-size: 200px;
    }

    .logo img {
        max-width: 300px;
    }

    .brand h1 {
        letter-spacing: 8px;
    }

    .form {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 0;
        height: 300px;
        margin: 0 20px;
        border-left: 1px solid rgba(41, 128, 185, 0.17);
    }

    input {
        color: rgba(41, 128, 185, 0.5);
        font-size: 15px;
        border: none;
        border-radius: 0;
        height: 60px;
        width: 300px;
    }

    input:focus {
        outline: none !important;
        border: none;
        border-radius: 0;
    }

    input::-webkit-input-placeholder {
        color: rgba(41, 128, 185, 0.5);
        font-size: 20px;
    }

    .signinButton {
        padding-top: 30px;
        cursor: pointer;
        color: rgba(41, 128, 185, 0.2);
        font-size: 200px;
        font-weight: 100;
    }

    .signinButton:hover {
        color: rgba(41, 128, 185, 0.5);
    }

    /* Change the white to any color ;) */
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .stripe-loading-indicator .stripe, .stripe-loading-indicator .stripe-loaded {
        background: #2980b9;
    }

    .alert {
        border-radius: 0;
        text-align: center;
        font-weight: bold;
    }

}

/* Theme font colors, for icons */

.blue, .blue:hover {
    color: #4582ec !important;
}

.gray, .gray:hover {
    color: #adb5bd !important;
}

.green, .green:hover {
    color: #02b875 !important;
}

.turquoise, .turquoise:hover {
    color: #17a2b8 !important;
}

.orange, .orange:hover {
    color: #f0ad4e !important;
}

.red, .red:hover {
    color: #d9534f !important;
}

.error-wrapper {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}
