<form data-request="onRegister">
    <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="{{'register.name_placeholder'|_}}"
    autofocus/>
    <br>
    <input
            name="email"
            type="text"
            class="form-control"
            id="registerEmail"
            placeholder="{{'register.email_placeholder'|_}}"
    />
    <br>
    <input
            name="clustername"
            type="text"
            id="registerClustername"
            placeholder="{{'register.cluster_placeholder'|_}}"
    autofocus/>
    <br>
    <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="{{'register.password_placeholder'|_}}"/>
</form>
