<form data-request="onRegister">
    <input
        name="name"
        type="text"
        id="registerName"
        placeholder="{{'register.name_placeholder'|_}}"
        autofocus
    />
    <br>
    <input
        name="email"
        type="text"
        id="registerEmail"
        placeholder="{{'register.email_placeholder'|_}}"
    />
    <br>
    <input
        name="clustername"
        type="text"
        id="registerClustername"
        placeholder="{{'register.cluster_placeholder'|_}}"
    />
    <br>
    <input
        name="password"
        type="password"
        id="registerPassword"
        placeholder="{{'register.password_placeholder'|_}}"
    />

</form>
