description = "Default layout for pages that need only being logged in"

[session]
security = "user"
redirect = "public/login"

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="{{activeLocale}}">
<head>
    <title>{{this.theme.website_name}}</title>
    {% partial 'html/meta-tags' %}
</head>
<body>
    {% partial 'flashbox' %}
    {% partial 'site/nav' %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% page %}
                </div>
            </div>
        </div>
    </div>
    {% partial 'site/footer' %}
    {% partial 'html/footer-scripts' %}
</body>
</html>